.container {
    padding: 0;
    width: 100%;
    min-width: 100vw;
    height: 80px;
    min-height: 20vh;
    background-image: url("../../../assets/occam/page_banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
