.label {
    color: #6E6B7B;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.sub-label {
    color: #6E6B7B;
    font-weight: normal;
    margin-bottom: 5px;
    display: block;
}

.code {
    font-family: "Montserrat", serif;
    font-style: normal;
    color: #EE4036;
    font-size: 32px;
    font-weight: 600;
}

.save-btn {
    background-color: #EE4036;
    border-radius: 9px;
    color: white;
}

.back-btn {
    color: #EE4036;
    text-decoration: none;
}